<mat-card>
  <mat-card-content>

    <mat-toolbar color="primary">Detalhes do Sócio</mat-toolbar>

    <form [formGroup]="form" class="min-width">
      <mat-form-field class="full-width">
        <input matInput placeholder="Nome" formControlName="nome" #nome>
        <mat-hint align="end">{{ nome.value?.length || 0 }} / 50</mat-hint>
        <mat-error *ngIf="form.get('nome')?.invalid">{{
          getErrorMessage("nome")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Renda" formControlName="renda" type="number">
        <mat-error *ngIf="form.get('renda')?.invalid">{{
          getErrorMessage("renda")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Ativo</mat-label>
        <mat-select formControlName="ativo">
          <mat-option value="true">Ativo</mat-option>
          <mat-option value="false">Inativo</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-toolbar>
        <span>Dependentes</span>
        <button mat-icon-button color="accent" (click)="addNewDependente()">
          <mat-icon aria-label="Adicionar um novo dependente">add</mat-icon>
        </button>
      </mat-toolbar>

      <table
        style="width: 100%"
        formArrayName="dependentes"
        *ngFor="let dependente of getDependentesFormArray(); let i = index"
      >
        <tr [formGroupName]="i">
          <td style="width: 65%">
            <mat-form-field class="full-width">
              <mat-label>Nome do Dependente</mat-label>
              <input matInput formControlName="nome" />
              <mat-error *ngIf="getDependentesFormArray()[i].get('nome').invalid">
                Campo inválido
              </mat-error
              >
            </mat-form-field>
          </td>
          <td style="width: 30%">
            <mat-form-field class="full-width">
              <mat-label>Idade</mat-label>
              <mat-error *ngIf="getDependentesFormArray()[i].get('idade').invalid">
                Idade inválida
              </mat-error>
              <input matInput formControlName="idade" type="number"/>
            </mat-form-field>
          </td>
          <td>
            <button mat-icon-button color="warn" (click)="removeDependente(i)">
              <mat-icon aria-label="Remover a aula">delete</mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </form>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
      <button mat-raised-button (click)="onCancel()">Cancelar</button>
    </mat-card-actions>

  </mat-card-content>
</mat-card>