<mat-card>
  <mat-card-content>

    <mat-toolbar color="primary">Detalhes do Sócio</mat-toolbar>

    <form [formGroup]="form" class="min-width">
      <mat-form-field class="full-width">
        <input matInput placeholder="Nome" formControlName="nome" #nome>
        <mat-hint align="end">{{ nome.value?.length || 0 }} / 50</mat-hint>
        <mat-error *ngIf="form.get('nome')?.invalid">{{
          getErrorMessage("nome")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Renda" formControlName="renda">
        <mat-error *ngIf="form.get('renda')?.invalid">{{
          getErrorMessage("renda")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Ativo</mat-label>
        <mat-select formControlName="ativo">
          <mat-option value="true">True</mat-option>
          <mat-option value="false">False</mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
      <button mat-raised-button (click)="onCancel()">Cancelar</button>
    </mat-card-actions>

  </mat-card-content>
</mat-card>