<mat-card>
  <mat-card-content>

    <mat-toolbar color="primary">
      Sócios
    </mat-toolbar>

    <table mat-table [dataSource]="socios" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let socio"> {{socio.id}} </td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
        <td mat-cell *matCellDef="let socio"> {{socio.nome}} </td>
      </ng-container>

      <ng-container matColumnDef="renda">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Renda </th>
        <td mat-cell *matCellDef="let socio"> {{socio.renda}} </td>
      </ng-container>

      <ng-container matColumnDef="ativo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ativo </th>
        <td mat-cell *matCellDef="let socio"> {{socio.ativo}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="action-column">
          <button
            mat-mini-fab
            color="accent"
            aria-label="Adicionar um curso"
            (click)="onAdd()"
            class="action-column-header"
          >
            <mat-icon>add</mat-icon>
          </button>
        </mat-header-cell>
    
        <mat-cell *matCellDef="let course" class="action-column">
          <button
            mat-icon-button
            color="primary"
            aria-label="Editar Curso"
            
          >
            <mat-icon>edit</mat-icon>
          </button>
    
          <button
            mat-icon-button
            color="warn"
            aria-label="Remover Curso"
            
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" [length]="totalElements"
      (page)="nextPage($event)">
    </mat-paginator>

  </mat-card-content>
</mat-card>